name: CI/CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-java:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Build api-springboot
      run: mvn -B package --file api-springboot/pom.xml
    - name: Build search-indexer-java
      run: mvn -B package --file search-indexer-java/pom.xml

  build-scala:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Setup Scala and SBT
      uses: olafurpg/setup-scala@v14
      with:
        java-version: '17'
    - name: Build crawler-scala
      run: |
        cd crawler-scala
        sbt clean compile package

  build-python:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.9
      uses: actions/setup-python@v3
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f embedding-service-python/requirements.txt ]; then pip install -r embedding-service-python/requirements.txt; fi

  build-docker:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Build the Docker image
      run: docker compose build

  qodana:
    runs-on: ubuntu-latest
    needs: [build-java, build-scala, build-python]
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: 'Qodana Scan'
        uses: JetBrains/qodana-action@v2023.2
        env:
          QODANA_TOKEN: ${{ secrets.QODANA_TOKEN }}